@import '../variables.scss';

.features-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;

    @media only screen and (min-width: 827px) {
        max-width: 1200px;
    }

    .features-wrapper-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: $bg-color;
        max-width: 827px;
        border-radius: 6px;

        @media only screen and (min-width: 827px) {
            flex-direction: row;
            max-width: 1200px;
            margin: 17px;
        }

        .features-wrapper-column {
            background-color: #fff;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 0px 0px;

            img {
                width: 100%;
                height: auto;
                max-height: 827px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }

            .inner-box {
                padding: 30px 15px 30px 15px;
                text-align-last: left;

                h3 {
                    margin-bottom: 4.95px;
                    font-size: 20px;
                    font-weight: 800;
                    color: $text-color;
                    padding-top: 15px;
                }

                p {
                    color: $second-text-color;
                    font-size: 15px;
                    font-weight: 200;
                    padding-bottom: 15px;
                    text-align: left;

                    &:last-child {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}