@import '../variables.scss';

.nav {
    width: 100%;
    max-width: 1400px;
    max-height: 200px;
    border: 1px solid grey;
    background-color: pink;
    margin: 0 auto;
    //min-height: 50px;
    height: 100%;

    .nav-menu {
        display: block;
        height: 100%;

        @media only screen and (min-width: 585px) {
            display: flex;
            height: 100%;
            padding-top: 50px;
            justify-content: end;
            align-items: flex-end;
        }

        ul {
            display: none;

            &.open {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media only screen and (min-width: 585px) {
                flex-direction: row;
                gap: 20px;
                }
            }

            @media only screen and (min-width: 585px) {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            li {
                list-style: none;


                &:last-child {
                    padding-bottom: 20px;

                    @media only screen and (min-width: 585px) {
                        padding-right: 10px;
                        padding-bottom: 0;
                    }
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }


    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.0625rem;
        background-color: lightgrey;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        padding: 0.125rem;
        cursor: pointer;

        & span {
            height: 0.2rem;
            width: 60%;
            margin: 1px;
            background-color: white;
            border-radius: 0.1rem;
            z-index: 1;
        }

        @media screen and (min-width: 585px) {
            display: none;
        }
    }


}