@import '../variables.scss';

.nav {
    width: 100%;
    max-width: 1400px;
    height: 50px;
    border: 1px solid grey;
    background-color: pink;
    margin: 0 auto;

    .nav-menu {
        display: none;

        @media only screen and (min-width: 585px) {
            display: flex;
            height: 100%;
            justify-content: end;
            align-items: flex-end;
        }

        ul {
            display: flex;
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                }
            }
        }
    }


    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.0625rem;
        background-color: lightgrey;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        padding: 0.125rem;

        & span {
            height: 0.2rem;
            width: 60%;
            margin: 1px;
            background-color: white;
            border-radius: 0.1rem;
            z-index: 1;
        }

        @media screen and (min-width: 500px) {
            display: none;
        }
    }


}